#!/usr/bin/env bash
# export PASSWORD_STORE_DIR="${PWD}/passwordstore"

if [ ! -d "${PWD}/playbooks/roles/geerlingguy.docker" ] ; then
  ansible-galaxy role install --role-file requirements.yml
fi

export RESTIC_PASSWORD=$(pass accounts/borgbase.com/repos/docker | head -n 1 | tr -d '\n')
export RESTIC_REPOSITORY="rest://$(pass accounts/borgbase.com/repos/docker | awk '/^location:/ { sub(/^location:[[:space:]]*/, ""); print; exit }')"
