{
    "Servers": {
        "1": {
            "Name": "Default",
            "Group": "Server Group 1",
            "Port": 5432,
            "Username": "postgres",
            "PasswordExecCommand": "echo '{{ lookup('community.general.passwordstore', 'hosts/berserker/postgres', missing='create') }}'",
            "Host": "db",
            "SSLMode": "prefer",
            "MaintenanceDB": "postgres"
        }
    }
}
