services:
  semaphore:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    dns:
      - 100.100.100.100
      - 192.168.19.1
      - 192.168.19.2
      - 9.9.9.9
    healthcheck:
      test: ["CMD-SHELL", "wget -q http://localhost:3000/ -O /dev/null"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 15s
    ports:
      - 3001:3000
    environment:
      SEMAPHORE_DB_USER: semaphore
      SEMAPHORE_DB_PASS: ${SEMAPHORE_DB_PASSWORD}
      SEMAPHORE_DB_HOST: postgres
      SEMAPHORE_DB_PORT: 5432
      SEMAPHORE_DB_DIALECT: postgres
      SEMAPHORE_DB: semaphore
      SEMAPHORE_PLAYBOOK_PATH: /tmp/semaphore/
      SEMAPHORE_ADMIN_PASSWORD: ${SEMAPHORE_ADMIN_PASSWORD}
      SEMAPHORE_ADMIN_NAME: ${SEMAPHORE_ADMIN_USER}
      SEMAPHORE_ADMIN_EMAIL: ${SEMAPHORE_ADMIN_EMAIL}
      SEMAPHORE_ADMIN: ${SEMAPHORE_ADMIN_USER}
      SEMAPHORE_LDAP_ACTIVATED: 'no'
      PASSWORD_STORE_DIR: /home/semaphore/.password-store
      SEMAPHORE_EMAIL_ALERT: 'true'
      SEMAPHORE_EMAIL_SENDER: 'emaphore@triantium.de'
      SEMAPHORE_EMAIL_HOST: '{{ semaphore_email_host }}'
      SEMAPHORE_EMAIL_PORT: '{{ semaphore_email_port }}'
      SEMAPHORE_EMAIL_USERNAME: '{{ semaphore_email_username }}'
      SEMAPHORE_EMAIL_PASSWORD: '{{ semaphore_email_password }}'
      SEMAPHORE_EMAIL_SECURE: 'true'
      SEMAPHORE_EMAIL_TLS: 'true'
      SEMAPHORE_ACCESS_KEY_ENCRYPTION: '{{ semaphore_access_key_encryption }}'
      SEMAPHORE_TELEGRAM_ALERT: 'true'
      SEMAPHORE_TELEGRAM_CHAT: '{{ semaphore_telegram_chat }}'
      SEMAPHORE_TELEGRAM_TOKEN: '{{ semaphore_telegram_token }}'
    volumes:
      - {{ semaphore_pass_store_path }}:/home/semaphore/.password-store:rw
      - {{ semaphore_gpg_dir }}/semaphore-private.key:/etc/semaphore/gpg/semaphore-private.key:ro
    networks:
      postgres-net:
    depends_on:
      - tailscale
  tailscale:
    image: tailscale/tailscale:v1.98.8
    container_name: tailscale
    hostname: tailscale-sempahore
    environment:
      - TS_AUTHKEY={{ tailscale_authkey }}
      - TS_STATE_DIR=/var/lib/tailscale
    volumes:
      - ./tailscale-state:/var/lib/tailscale
    cap_add:
      - net_admin
      - net_raw
    restart: unless-stopped
networks:
  postgres-net:
    external: true
