version: 2
backends:
  borgbase:
    type: rest
    path: {{ lookup('community.general.passwordstore', 'accounts/borgbase.com/repos/docker' , subkey='location') }}
    key: {{ lookup('community.general.passwordstore', 'accounts/borgbase.com/repos/docker' ) }}
locations:
  {{ autorestic_location_name }}:
    cron: '{{ autorestic_cron }}'
    from: {{ autorestic_from | default('/backups') }}
    to:
      - borgbase
{% if autorestic_exclude is defined %}
    options:
      backup:
        exclude:
{% for pattern in autorestic_exclude %}
          - '{{ pattern }}'
{% endfor %}
{% endif %}
